# Calculate the frequency of items in a given sequence
Given a sequence of elements (that support equality function), calculate the frequency of
each distinct element. For example, given the sequence [‘hi’, ‘I’, ‘am’, ‘Alexa’, ‘I’, ‘would’, ‘just’,
‘like’, ‘to’, ‘say’, ‘hi’]. The output should be:
hi 2
I 2
am 1
Alexa 1
would 1
just 1
like 1
to 1
say 1

In [223]:
import pandas as pd

In [224]:
a = ['hi', 'I', 'am', 'Alexa', 'I', 'would', 'just','like', 'to', 'say', 'hi']
b = [0]*len(a)
b

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [225]:
df = pd.DataFrame(a, columns = ['Element'])
df['Count'] = b
df

   Element  Count
0       hi      0
1        I      0
2       am      0
3    Alexa      0
4        I      0
5    would      0
6     just      0
7     like      0
8       to      0
9      say      0
10      hi      0

In [226]:
df = df.drop_duplicates()
df

  Element  Count
0      hi      0
1       I      0
2      am      0
3   Alexa      0
5   would      0
6    just      0
7    like      0
8      to      0
9     say      0

In [227]:
for index, row in df.iterrows():
    i = index
    #print(row['Element'])
    while (i < len(a)):
        if (df.Element[index] == a[i]):
            df.Count[index] = df.Count[index] + 1
        i = i + 1
df

/var/folders/wx/1_76tj0s15gc4yxmndvw4l_00000gn/T/ipykernel_57377/509001998.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Count[index] = df.Count[index] + 1

  Element  Count
0      hi      2
1       I      2
2      am      1
3   Alexa      1
5   would      1
6    just      1
7    like      1
8      to      1
9     say      1